<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>登录后台</title>
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <!-- 引入 layui.js -->
    <script src="layui/layui.js"></script>
</head>
<body style="height: 100%">
<!--设置高度自适应屏幕-->
<div style="height: 25%"></div>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-md-offset3">
            <form class="layui-form" action="">
                <h1 align="center">后台管理系统</h1> <br/><br/><br/>
                <div class="layui-form-item">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="adminCode" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="adminPwd" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div><br/><br/>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-danger" lay-submit lay-filter="formSubmit">登录</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    layui.use(['form','layer'], function(){
        var form = layui.form;
        var layer =layui.layer;
        //监听提交
        form.on('submit(formSubmit)', function(data){
            $.ajax({
                type:'post',
                data:{
                    adminCode:data.field.adminCode,
                    adminPwd:data.field.adminPwd
                },
                dataType:'json',
                url:'doadmin',
                success:function (data) {
                    console.log(data);
                    if(data.status==1)
                        self.location='tomanage';
                    else{
                        layer.alert("账号或密码不正确");
                        $(" input[ type='text' ] ").val("");
                        $(" input[ type='password' ] ").val("");
                    }
                }
            })
            return false;
        });
    });
</script>
</body>
</html>